<!-- <!DOCTYPE html> -->
<!-- <html lang="en"> -->
<!-- <head> -->
<!--  -->
<!-- 	<meta charset="utf&#45;8"> -->
<!--     <title>Red Cross Information</title> -->
<!--  -->
<!--     <!&#45;&#45; mobile specific metas &#45;&#45;> -->
<!--     <meta name="viewport" content="width=device&#45;width, initial&#45;scale=1.0"> -->
<!--  -->
<!--     <!&#45;&#45; Bootstrap &#38; FontAwesome css &#45;&#45;> -->
<!--     <link href="css/bootstrap.css" rel="stylesheet"> -->
<!--     <link href="css/bootstrap&#45;responsive.css" rel="stylesheet"> -->
<!--     <link href="css/font&#45;awesome.css" rel="stylesheet"> -->
<!--  -->
<!--     <!&#45;&#45; your custom css for this site &#45;&#45;> -->
<!--     <link href="css/site.css" rel="stylesheet"> -->
<!--  -->
<!-- </head> -->
<!--  -->
<!--  -->
<!-- <body> -->


    <!-- begin container -->
    <header class="nav"> <span id="news1"> breaking news here  </span> <span id="news2"> breaking news here  </span> <span id="news3"> breaking news here </span></header>


       

    <section class="filters text-left">
      <header><%= image_tag "redcross-logo.png", :width => "100px" %></header>
        
        <p>
        <form id="mylocation">
          <fieldset >
            <legend>What's happening</legend>
            <label>What's happening near me</label>
            <input type="number" id="myzip" name="myzip" placeholder="Where are you…">
            <button type="submit" class="btn">Search</button>
          </fieldset>
        </form>
        </p>
        
        <p>
        <form id= "daterange">
          <fieldset >
            <p>Select date range</p>
            <label>Beginning</label>
            <input type="date" id="startdate" name="startdate">
            <label>Until</label>
            <input type="date" id="enddate" name="endate" >
            <button type="submit" class="btn">Search</button>
          </fieldset>
        </form>
        </p>


        <p>
        <form>
          <fieldset >
            <label>Time to find volunteer</label>
            <input type="range" id="findvolunteer" name="findvolunteer" min="5" max="120">
            <p> minutes </p>
          </fieldset>
        </form>
        </p>

        <form>
          <fieldset >
            <legend>Who we're helping</legend>
            <label>
            <input type="checkbox" id="adults" name="adults" value="adults" checked> Adults</label>
            <label>
            <input type="checkbox" id="children" name="children" value="children" checked> Children</label>
          </fieldset>
        </form>
        </p>



        
    </section>    
        <div id="impact">
            <table>
                <tr>
                    <td> <p><%= image_tag "pie.gif" %></p> <p>Funds spent in city vs. suburbs</p></td>
                    <td> <p><%= image_tag "pie.gif" %></p> <p>Funds spent by ward</p></td>
                    <td> <p><%= image_tag "pie.gif" %></p> <p>Funds spent by gender</p></td>
                 </tr>       
                <tr>
                    <td> <p><%= image_tag "pie.gif" %></p> <p>Funds spent in city vs. suburbs</p></td>
                    <td> <p><%= image_tag "pie.gif" %></p> <p>Funds spent by ward</p></td>
                    <td> <p><%= image_tag "pie.gif" %></p> <p>Funds spent by gender</p></td>
                 </tr>    
            </table>    
        </div>

   
    <div id="googft-mapCanvas"></div>
    
    
    <!-- js placed at the end of the document for faster loading -->
<!--     <script src="js/jquery&#45;1.8.2.min.js"></script> -->
<!--     <script src="js/bootstrap.min.js"></script> -->
<!--     <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> -->
<!--     <script src="js/site.js"></script> -->
<!--  -->
<!--  -->
<!--  -->
<!-- </body> -->
<!--  -->
<!-- </html> -->


